include ../../entities/index.pug

.types
  +type({variant: "h1", subtitle: "H1", title: "This one is the sub-section or widget title"})
  +type({variant: "h2", subtitle: "H2", title: "Next one is the item title inside widgets"})
  +type({variant: "h3", subtitle: "H3", title: "THIS IS A LABEL OR CTA TEXT"})
  +type({variant: "body-text", subtitle: "Body", title: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})