include ../../shared/pug/index.pug

doctype html
html 
  +head("Colors & Types page")
  body
    .colors-and-types
      include ../../widgets/colors/colors.pug
      include ../../widgets/types/types.pug