include ../../features/index.pug

.date-dropdowns
  +dropdown({isDate: true, title: "DATE DROPDOWN", defaultValue: "ДД.ММ.ГГГГ"})
  +dropdown({isDate: true, title: "DATE DROPDOWN", defaultValue: "ДД.ММ.ГГГГ"})
  +dropdown({isDate: true, title: "FILTER DATE DROPDOWN", defaultValue: "ДД.ММ.ГГГГ"})