include ../heading1/heading1.pug
include ../heading2/heading2.pug
include ../heading3/heading3.pug
include ../body-text/body-text.pug

mixin ui-type(options)
  - var variant = options.variant
  - var subtitle = options.subtitle
  - var title = options.title

  .ui-type
    if variant === "h1"
      +heading1(subtitle).ui-type__subtitle
      +heading1(title)
    else if variant === "h2"
      +heading2(subtitle).ui-type__subtitle
      +heading2(title)
    else if variant === "h3"
      +heading3(subtitle).ui-type__subtitle
      +heading3(title)
    else
      +body-text(subtitle).ui-type__subtitle
      +body-text(title)
