@use '../../app/styles/colors.scss' as colors;

.dropdown {
  position: relative;
  min-width: 266px;
  max-width: 287px;

  &-label {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__state {
      font-size: 12px;
      font-weight: 400;
      color: colors.$darkShade50;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid colors.$darkShade25;

    &_full-rounded {
      border-radius: 5px;
    }

    &__title {
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      overflow: hidden;
      pointer-events: none;
    }

    &__arrow {
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &_expanded {
        transform: rotate(-180deg);
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 7px;
    box-shadow: 0px 10px 20px 0px #1f20410d;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &_expanded {
      max-height: fit-content;
      opacity: 100%;
      padding: 10px 15px;
      pointer-events: all;
      border: 1px solid colors.$darkShade25;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &__buttons {
      margin-top: 19px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: colors.$purple;
      }
    }
  }

  &-calendar {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: -40px;
    max-height: 0;
    min-width: 320px;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    overflow: hidden;

    &_visible {
      max-height: fit-content;
      opacity: 100%;
    }
  }

  @media screen and (min-width: 480px) {
    &-calendar {
      left: 0;
    }
  }
}
