include ../../entities/index.pug


.colors
  +color({colorTitle: "Dark Shade 100%", colorHex: "#1F2041", modificator: "color__box_dark-shade-100"})
  +color({colorTitle: "Dark Shade 75%", colorHex: "#1F2041", modificator: "color__box_dark-shade-75"})
  +color({colorTitle: "Dark Shade 50%", colorHex: "#1F2041", modificator: "color__box_dark-shade-50"})
  +color({colorTitle: "Dark Shade 25%", colorHex: "#1F2041", modificator: "color__box_dark-shade-25"})
  +color({colorTitle: "Dark Shade 5%", colorHex: "#1F2041", modificator: "color__box_dark-shade-5"})
  +color({colorTitle: "Purple", colorHex: "#BC9CFF", modificator: "color__box_purple"})
  +color({colorTitle: "Green", colorHex: "#6FCF97", modificator: "color__box_green"})