@use '../../../app/styles/colors.scss' as colors;
@use '../../../app/styles/gradients.scss' as gradients;

.button {
  position: relative;
  padding: 14px 20px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 40px;

  &:disabled {
    cursor: auto;
    opacity: 50%;
  }

  &_primary {
    background: gradients.$primaryGradient border-box;
    color: #fff;
  }

  &_secondary {
    background: gradients.$secondaryGradient border-box;
    color: #fff;
  }

  &_arrow {
    min-width: 270px;

    span {
      position: absolute;
      top: 20%;
      right: 22px;
    }

    @media screen and (min-width: 480px) {
      min-width: 320px;
    }
  }

  &_bordered {
    color: colors.$purple;
    background: linear-gradient(#fff, #fff) padding-box, gradients.$primaryGradient border-box;
  }

  &_text,
  &_thin {
    background: none;
    color: colors.$darkShade50;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: colors.$purple;
    }

    &:disabled {
      color: colors.$darkShade50;
    }

    .button__title_thin {
      font-weight: 400;
    }
  }
}
