.form-elements {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  gap: 126px;

  .text-fields-dropdowns {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .checkboxes-radios-toggles-likes-rates {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
