include ../../shared/pug/index.pug
include ../../shared/ui/index.pug
include ../../entities/index.pug
include ../../features/index.pug

doctype html
html
  +head("Form Elements page")
  body
    .form-elements
      .form-elements__first-row
        .text-fields-dropdowns
          include ../../widgets/text-fields/text-fields.pug
          include ../../widgets/date-dropdowns/date-dropdowns.pug
        .checkboxes-radios-toggles-likes-rates
          include ../../widgets/checkboxes/checkboxes.pug
          include ../../widgets/radios/radios.pug
          include ../../widgets/toggles/toggles.pug
          include ../../widgets/likes/likes.pug
          include ../../widgets/rates/rates.pug
        .slider-buttons-pagination
          +slider({minRange: 0, maxRange: 15000, defaultMinRange: 5000, defaultMaxRange: 10000})
          include ../../widgets/buttons/buttons.pug
          +pagination(15)
      .form-elements__second-row
        include ../../widgets/dropdowns/dropdowns.pug
      .form-elements__third-row
        include ../../widgets/checkbox-lists/checkbox-lists.pug
        include ../../widgets/rich-checkboxes/rich-checkboxes.pug
        include ../../widgets/bullet-lists/bullet-lists.pug
      .form-elements__fourth-row
        +advantages([{iconName: "mood", title: "Комфорт", subtitle: "Шумопоглощающие стены"}, {iconName: "location_city", title: "Удобство", subtitle: "Окно в каждой из спален"}])
        +review({avatarSrc: require("../../app/images/avatar-1.png"), fullName: "Мурад Сарафанов", publishedAt: "5 дней назад", likesQuantity: 12, description: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})