.form-elements {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;

  &__first-row {
    display: flex;
    gap: 126px;

    .text-fields-dropdowns,
    .checkboxes-radios-toggles-likes-rates,
    .slider-buttons-pagination {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__third-row {
    display: flex;
    gap: 126px;
  }
}
