include ./color/color.pug
include ./type/type.pug
include ./dropdown-list-item/dropdown-list-item.pug
include ./bullet-list/bullet-list.pug
include ./advantages/advantages.pug
include ./review/review.pug