include ../heading3/heading3.pug
include ../body-text/body-text.pug
include ../ui-color/ui-color.pug

.ui-colors
  +ui-color({colorTitle: "Dark Shade 100%", colorHex: "#1F2041", modificator: "ui-color__box_dark-shade-100"})
  +ui-color({colorTitle: "Dark Shade 75%", colorHex: "#1F2041", modificator: "ui-color__box_dark-shade-75"})
  +ui-color({colorTitle: "Dark Shade 50%", colorHex: "#1F2041", modificator: "ui-color__box_dark-shade-50"})
  +ui-color({colorTitle: "Dark Shade 25%", colorHex: "#1F2041", modificator: "ui-color__box_dark-shade-25"})
  +ui-color({colorTitle: "Dark Shade 5%", colorHex: "#1F2041", modificator: "ui-color__box_dark-shade-5"})
  +ui-color({colorTitle: "Purple", colorHex: "#BC9CFF", modificator: "ui-color__box_purple"})
  +ui-color({colorTitle: "Green", colorHex: "#6FCF97", modificator: "ui-color__box_green"})