include ../../shared/pug/index.pug

doctype html
html 
  +head("Home page")
  body
    a(href="colors-and-types.html") Go to Colors & Types page
    br
    a(href="form-elements.html") Go to Form Elements page
    br
    a(href="cards.html") Go to Cards page