@use '../../app/styles/colors.scss' as colors;

.search-room {
  background-color: #fff;
  padding: 40px 30px 30px 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 25px 0px #00000033;
  height: fit-content;

  &__title {
    margin-bottom: 20px;
    color: colors.$darkShade100;
  }

  &__dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .dropdown:last-child {
      width: 100%;
    }
  }
}
