include ../pug/head.pug

doctype html
html 
  +head("Home page")
  body
      a(href="ui.html") Go to UI Kit page
      br
      a(href="rooms.html") Go to Rooms page
      br
      a(href="room.html") Go to Room page