@use './styles/fonts.scss';
@use './styles/colors.scss';
@use './styles/gradients.scss';

@use '../shared/ui/ui.scss';

@use '../entities/entities.scss';
@use '../features/features.scss';
@use '../widgets/widgets.scss';

@use '../pages/colors-and-types/colors-and-types.scss';
@use '../pages/form-elements/form-elements.scss';
@use '../pages/cards/cards.scss';

html {
  font-family: montserrat, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  list-style: none;
}
