mixin rate(rating)
  if rating === 4
    .rate
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-symbols-outlined star

  if rating === 5
    .rate
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-icons star