include ../../shared/ui/index.pug

.checkboxes
  +heading3("CHECKBOX BUTTONS")
  .checkboxes-items
    +checkbox("Можно курить")
    +checkbox("Можно с питомцами")
    +checkbox("Можно пригласить гостей (до 10 человек)")